.calculator-container {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.number-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.buttons-container {
    display: flex;
}

button {
    width: 100px;
    height: 100px;
}